#menu {
    position: absolute;
    height: calc(var(--height) - 40px - 2%);
    width: var(--height);
    z-index: 2;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform .3s linear, opacity .3s;
}

@keyframes zoom-out-menu {
    to {
        transform: scale(0);
    }
}

.player-menu {
    display: flex;
    margin: 10px;
}

#playerX {
    color: #f83157;
}

#playerO {
    color: #3ba8d7;
}

.player-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 30px;
}

.playerNameInput {
    height: 70%;
    border: 3px solid white;
    border-radius: 8px;
    outline: none;
    padding: 0px 15px;
    background-color: #e4dfd6;
}

#playerX .playerNameInput:focus, #playerX .playerNameInput{
    border-color: #f83157;
    color: #f83157;
}

#playerO .playerNameInput:focus, #playerO .playerNameInput{
    border-color: #3ba8d7;
    color: #3ba8d7;
}

.playing-mode {
    margin-right: 10px;
    margin-left: 20px;
    outline: none;
}

.playing-mode-span {
    font-size: 22px;
    margin-right: 270px;
    margin-top: 10px;
}

#svg-newgame {
    fill: white;
    font-size: 20px;
}

#new-game-button {
    cursor: pointer;
}

#new-game-button:hover {
    transition: all .2s;
    box-shadow: 0px 3px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

#newgame-strikeline {
    stroke: rgb(250, 199, 46);
    stroke-width: 5;
    stroke-linecap: round;
    stroke-dasharray: 112;
    stroke-dashoffset: 112;
    animation: smooth .3s linear forwards;
}

.player-menu > label {
    cursor: pointer;
}